*::before, 
*::after {box-sizing: border-box;}

body{
    font-family: 'Noto Sans TC', sans-serif;
    color: #221E1F;
    letter-spacing: 2px;
    line-height: 1.5;
    
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
button{
    background: none;
    border: none; 
}
p{
    color: #221E1F;
}
.wrap{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(https://raw.githubusercontent.com/xiouyuwen/chatTalker/b9707d12a76ec2d410468c41549b43ef75fe5872/chatTalker_images/bg_home.svg),url(https://raw.githubusercontent.com/xiouyuwen/chatTalker/b9707d12a76ec2d410468c41549b43ef75fe5872/chatTalker_images/ball01.svg);
    background-repeat: no-repeat,no-repeat;
    background-position: top right,left -200px top 510px;
}
@media screen and (max-width: 767px){
    .wrap{
        background-image: none;
        background-image: url(https://raw.githubusercontent.com/xiouyuwen/chatTalker/b9707d12a76ec2d410468c41549b43ef75fe5872/chatTalker_images/bg_home_sm.svg),url(https://raw.githubusercontent.com/xiouyuwen/chatTalker/b9707d12a76ec2d410468c41549b43ef75fe5872/chatTalker_images/ball01.svg);
        background-repeat: no-repeat;
        background-size: 500px,300px;
        background-position: center top 520px,left -177px top 980px;
    }
}
@media screen and (max-width: 414px){
    .wrap{
        background-image: none;
        background-image: url(https://raw.githubusercontent.com/xiouyuwen/chatTalker/b9707d12a76ec2d410468c41549b43ef75fe5872/chatTalker_images/bg_home_sm.svg),url(https://raw.githubusercontent.com/xiouyuwen/chatTalker/b9707d12a76ec2d410468c41549b43ef75fe5872/chatTalker_images/ball01.svg);
        background-repeat: no-repeat;
        background-size: 330px,230px;
        background-position: center top 430px,left -200px top 1020px;
    }
}
.btn-top{
    display: block;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    background-color: #56C4C5;
    font-size: 24px;
    color: white;
    position: fixed;
    bottom: 5rem;
    right: 10rem;
    cursor: pointer;
    z-index: 5;
    text-align: center;
    line-height: 2.8;
    font-weight: bold;
}
@media screen and (max-width: 767px){
    .btn-top{
        right: 5rem;
    }
}
@media screen and (max-width: 375px){
    .btn-top{
        right: 5rem;
        width: 48px;
        height: 48px;
        font-size: 18px;
        line-height: 2.7;
        right:1rem
    }
}
.container{
    max-width: 1088px;
    margin: 0 auto;
    padding-top: 24px;
}
@media screen and (max-width: 767px){
    .container{
        max-width: 555px;
    }
}
.header{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 767px){
    .header{
        background: white;
        padding-bottom: 24px;
    }
}
.header-border{
    border-bottom: 2px solid #FFD23D;
    display: none;
}
@media screen and (max-width: 767px){
    .header-border{
        display: flex;
    } 
}
.logo img{
    width: 215px;
}
@media screen and (max-width: 375px){
    .logo img{
        width: 150px;
    }
}
.planbtn a{
    font-size: 16px;
    color:white;
    padding: 10px 32px;
    text-decoration: none;
    background: #FF5D50;
    border-radius: 22px;
}
@media screen and (max-width: 375px){
    .planbtn a{
        padding: 5px 15px;
    }
}
.planbtn a:hover{
    background: #FF7A70;
    color: #FFF238;
}
.header-main{
    display: flex;
    justify-content: space-between;
    margin-top: 30x;
}
@media screen and (max-width: 767px){
    .header-main{
        flex-direction: column;
    }
}
.hd-txt{
    margin: 188px 0 8px 0 ;
    font-size: 18px;
    color: #56C4C5;
    font-weight: bold;
}
@media screen and (max-width: 767px){
    .hd-txt{
        margin: 32px 0 8px 0 ;
        font-size: 16px;
    }
}
h1{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
}
@media screen and (max-width: 767px){
    h1{
        font-size: 32px;
    }
}
.hd-txt2{
    font-size: 20px;
    margin: 16px 0 50px 0;
}
@media screen and (max-width: 767px){
    .hd-txt2{
        font-size: 16px;
    }
}
@media screen and (max-width: 375px){
    .hd-txt2{
        font-size: 16px;
        margin: 16px 0 0 0;
    }
}
.hd-img{
    width: 532px
}
@media screen and (max-width: 767px){
    .hd-img{
        width: 100%;
        margin: 32px 0 0 0 ;
    }
}
.main{
    text-align: center;
    margin-top: 180px;
}
@media screen and (max-width: 375px){
    .main{
        margin-top: 40px;
    }
}
.media-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
@media screen and (max-width: 767px){
    .media-main{
        flex-direction: column;
    }    
}
h2{
    font-weight: bold;
    font-size: 32px;
    line-height: 1.5;
}
.media-card img{
    width: 90px;
    margin:48px 0 24px 0
}
h3{
    font-size: 24px;
    font-weight: bold;
}
.media-card p{
    color: #747474;
    font-size: 16px;
    margin-top: 24px;
}
.role{
    font-size: 20px;
    margin: 16px 0 48px 0;
}
.role-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
@media screen and (max-width: 767px){
    .role-main{
        flex-direction: column;
        align-items: center;
    }    
}
.role-card{
    width: 260px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
    background: white;
}
@media screen and (max-width: 767px){
    .role-card{
        width: 70%;
        margin-bottom: 24px;
    }    
}
.role-card img{
    border-radius: 12px 12px 0 0 ;
    margin-bottom: 16px;
}
h4{
    font-size: 16px;
    color: #56C4C5;
    font-weight: bold;
}
.role-txt{
    margin: 16px 0 24px 0;
    font-size: 16px;
}
.section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}
@media screen and (max-width: 767px){
    .section-content{
        flex-direction: column-reverse;
    }    
}
.section-tips{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}
@media screen and (max-width: 767px){
    .section-tips{
        align-items: center;
    }    
}
.section-card{
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    background: white;
    padding: 32px 32px 48px 32px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    margin: 0 47px 28px 0;
}
@media screen and (max-width: 767px){
    .section-card{
        width: 100%;
        flex-direction: column;
        margin: 0 0 24px 0;
    }    
}
.section-card-img{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px #00000014;
    background: white;
    padding: 20px;
    margin-bottom: 24px;
}
h5{
    font-size: 18px;
    font-weight: bold;
}
.section-txt{
    font-size: 16px;
    margin-top: 16px;
}
@media screen and (max-width: 375px){
    .section-txt{
        font-size: 14px;
    }
}
.section-slogan{
    padding-left: 20px;
}
@media screen and (max-width: 767px){
    .section-slogan{
        text-align: center;
        margin-bottom: 32px;
        padding-left: 0;
    }    
}
.section-slogan p{
    margin: 16px 0 45px 0;
    font-size: 18px;
}
@media screen and (max-width: 375px){
    .section-slogan p{
        font-size: 17px;
    }
}
.section-slogan a{
    background:#56C4C5;
    font-size: 16px;
    color:white;
    padding: 10px 32px;
    text-decoration: none;
    border-radius: 22px;
}


.feeback{
    text-align: center;
    margin-bottom: 104px;
}
.feeback-item {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;

    position: relative;
}
.feeback-img img{
    width: 80px;
    border-radius: 50px;
    position: absolute;
    top:-50px;
    left: 20px;
}
.feeback-info {
    padding: 48px 32px 20px 32px;
}
.feeback-info p{
    border-bottom: 1px solid #ccc;
    padding-bottom: 24px;
}    
h5{
    padding: 24px 0 8px 0; 
}
.feeback-name{
    display: flex;
    justify-content: space-between;
}
.swiper-pagination{
    margin-top: 10px;
}
.swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 8px;
}









.footer{
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/xiouyuwen/chatTalker/b9707d12a76ec2d410468c41549b43ef75fe5872/chatTalker_images/home_footer.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 134px;
}
.footer-main{
    padding: 260px 0 100px 0;
}
@media screen and (max-width: 375px){
    .footer-main{
        padding: 130px 0 100px 0;
    }
}
.footer-main a{
    background:#56C4C5;
}
.footer .planbtn{
    margin-top:48px ;
}
.footer-info{
    background: #F5F5F5;
}
.footer-info p{
    text-align: center;
    font-size: 16px;
    padding: 16px 0;
}
@media screen and (max-width: 414px){
    .footer-main h2{
        font-size: 20px;
    }
}