*::before, 
*::after {box-sizing: border-box;}

body{
    font-family: 'Noto Sans TC', sans-serif;
    color: #221E1F;
    letter-spacing: 2px;
    line-height: 1.5;
    
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
button{
    background: none;
    border: none; 
}
p{
    color: #221E1F;
}
.wrap{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(https://raw.githubusercontent.com/xiouyuwen/chatTalker/959f585ba704e3258463f13d936ca23a271599cc/chatTalker_images/banner.svg);
    background-repeat: no-repeat;
    background-position: top right;
    overflow:hidden;
}
@media screen and (max-width: 767px){
    .wrap{
        background-image: url(https://raw.githubusercontent.com/xiouyuwen/chatTalker/959f585ba704e3258463f13d936ca23a271599cc/chatTalker_images/banner_sm.svg);
        background-repeat: no-repeat;
        background-position: center top 92px;
        background-size: contain;
    }
}
.gray-bg{
    max-width: 1440px;
    width: 100%;
    height: 470px;
    background: #F7F9FD;
    border-radius: 0 0 0 300px;
    position: absolute;
    top:0;
    z-index: -2;
}
@media screen and (max-width: 992px){
    .gray-bg{
        display: none;
    }
}
.btn-top{
    width: 71px;
    height: 71px;
    border-radius: 50%;
    background-color: #56C4C5;
    font-size: 24px;
    color: white;
    position: fixed;
    bottom: 5rem;
    right: 10rem;
    cursor: pointer;
    z-index: 5;
    text-align: center;
    line-height: 2.8;
    font-weight: bold;
    display: none;
}
.btn-top.show {
    display: block;
}
@media screen and (max-width: 992px){
    .btn-top{
        right: 5rem;
    }
}
@media screen and (max-width: 414px){
    .btn-top{
        right: 5rem;
        width: 48px;
        height: 48px;
        font-size: 18px;
        line-height: 2.7;
        right:1rem
    }
}
.container{
    max-width: 1088px;
    margin: 0 auto;
    padding-top: 24px;
}
@media screen and (max-width: 992px){
    .container{
        max-width: 777px;
    }
}
@media screen and (max-width: 767px){
    .container{
        max-width: 555px;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    
}
@media screen and (max-width: 767px){
    .header .wrap{
        background: white;
        position:sticky;
        top: 0;
    }
}
.header-border{
    border-bottom: 2px solid #FFD23D;
    display: none;
}
@media screen and (max-width: 767px){
    .header-border{
        display: flex;
        margin-top: 24px;
        position:sticky;
        top: 0;
    } 
}

.logo img{
    width: 215px;
}
@media screen and (max-width: 414px){
    .logo img{
        width: 150px;
    }
}
.planbtn a{
    font-size: 16px;
    color:white;
    padding: 10px 32px;
    text-decoration: none;
    background: #FF5D50;
    border-radius: 22px;
}
@media screen and (max-width: 414px){
    .planbtn a{
        padding: 5px 15px;
    }
}
.planbtn a:hover{
    background: #FF7A70;
    color: #FFF238;
}
.banner{
    margin-top: 127px;
    margin-bottom: 280px;
}
h1{
    font-size: 48px;
    font-weight: bold;
}
@media screen and (max-width: 375px){
    h1{
        font-size: 40px;
    }
}
.banner p{
    font-size: 16px;
    margin-top: 16px;
}
@media screen and (max-width: 767px){
    .main{
        padding-top: 400px;
    }
}
@media screen and (max-width: 414px){
    .main{
        padding-top: 90px;
    }
}
h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.main-price{
    display: flex;
    justify-content: center;
}

.main-price-nav{
    margin: 48px 0 64px 0 ;
}
@media screen and (max-width: 767px){
    .main-price-nav{
        text-align: center;
    }    
}
.price-button{
    font-size: 18px;
    color: #56C4C5;
    background: white;
    border: 1px solid #56C4C5;
    padding: 12px 32px;
    border-radius: 27px;
    margin-right: 16px;
    margin-left: 8px;
}
@media screen and (max-width: 992px){
    .price-button{
        margin-right: 0;
    }    
}
@media screen and (max-width: 767px){
    .price-button{
        margin-bottom: 20px;
    }    
}
.price-button:hover{
    font-size: 18px;
    color: white;
    background: #56C4C5;
}
.main-price-plan{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 100px;
}
@media screen and (max-width: 992px){
    .main-price-plan{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}
.main-price-plan-card{
    background: white;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    padding-top: 20px;
}
@media screen and (max-width: 992px){
    .main-price-plan-card{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767px){
    .main-price-plan-card{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 414px){
    .main-price-plan-card{
        padding: 20px 10px 0 10px;
    }
}
h3{
    font-size: 24px;
    font-weight: bold;
}
.main-border{
    border-bottom: 2px solid #F5F5F5;
    margin: 20px 0 32px 0;
}
.main-price-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 40px;
}
@media screen and (max-width: 414px){
    .main-price-box{
        margin: 32px 0px;
    }
}
.main-people-money{
    background:#F5F5F5;
    padding: 24px 40px;
    border-radius: 12px;
}
@media screen and (max-width: 414px){
    .main-people-money{
        padding: 24px 20px;
    }
}
.main-people-money p{
    font-size: 12px;
}
.main-people-money span{
    font-size: 32px;
    color: #56C4C5;
}
.main-people-money sub{
    font-size: 12px;
    color: #56C4C5;
}
.color{
    color: #221E1F;
}
.same{
    font-size: 29px;  
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}
.main-price-advantage-box{
    padding-left: 30px;
}
@media screen and (max-width: 414px){
    .main-price-advantage-box{
        padding-left: 0;
    }
}
.main-price-advantage{
    display: flex;
    margin-bottom: 16px;
}
@media screen and (max-width: 414px){
    .main-price-advantage p{
        font-size: 12px;
    }
}
.main-price-advantage img{
    margin-right: 15px;
}
.main-price-btn{
    margin-top: 80px;
    margin-bottom: 48px;
}
.main-price-btn a{
    background: #56C4C5;
    font-size: 16px;
    color:white;
    padding: 10px 32px;
    text-decoration: none;
    border-radius: 22px;
}
.qa-box{
    margin: 48px 0 100px 0;
}
.qa-item{
    margin-bottom: 16px;
}
.accordion-question {
    background: #FFFFFF;
    color: #56C4C5;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    width: 100%;
    height: 58px;
    border: none;
    padding: 0 18px;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
}
.accordio-answer{
    padding: 15px 18px;
    font-size: 18px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 0 0 12 12px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.active, .accordion:hover {
    background-color: #56C4C5;
    color: white;
}





.footer-info{
    background: #F5F5F5;
}
.footer-info p{
    text-align: center;
    font-size: 16px;
    padding: 16px 0;
}